*{
    margin: 0;
    padding: 0;
    text-align: center;
    
}

body{
    background-image: url("https://i.pinimg.com/736x/da/c8/f7/dac8f784b7cb56808199fac7f1e89e00.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
   
}
 .hand-hour{
    width: 10%;
    height: 6px;
    background-color: gold;
    position: absolute;
    left: 39%;
    transform-origin: 100%;
    border-radius: 100px;
   }
 .hand-sec{
    width: 16%;
    height: 2px;
    background-color: gold;
    position: absolute;
    left: 33%;
    border-radius: 100px;
    transform-origin: 100%;
    transition-timing-function: cubic-bezier(0, 3.79, 0.58, 1);
 }
 .hand-min{
    width: 14%;
    height: 5px;
    background-color: gold;
    position: absolute;
    left: 35%;
    border-radius: 100px;
    transform-origin: 100%;

 }